### 1. NBA Player

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

#### Collecting datasets

In [3]:
player = pd.read_csv('all_seasons.csv')
player

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Chris Robinson,VAN,23.0,195.58,90.71840,Western Kentucky,USA,1996,2,...,4.6,1.7,1.6,-11.4,0.039,0.088,0.155,0.486,0.156,1996-97
1,1,Matt Fish,MIA,27.0,210.82,106.59412,North Carolina-Wilmington,USA,1992,2,...,0.3,0.8,0.0,-15.1,0.143,0.267,0.265,0.333,0.000,1996-97
2,2,Matt Bullard,HOU,30.0,208.28,106.59412,Iowa,USA,Undrafted,Undrafted,...,4.5,1.6,0.9,0.9,0.016,0.115,0.151,0.535,0.099,1996-97
3,3,Marty Conlon,BOS,29.0,210.82,111.13004,Providence,USA,Undrafted,Undrafted,...,7.8,4.4,1.4,-9.0,0.083,0.152,0.167,0.542,0.101,1996-97
4,4,Martin Muursepp,DAL,22.0,205.74,106.59412,None,USA,1996,1,...,3.7,1.6,0.5,-14.5,0.109,0.118,0.233,0.482,0.114,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9556,9556,Elijah Millsap,PHX,29.0,200.66,97.52228,Alabama-Birmingham,USA,Undrafted,Undrafted,...,1.5,3.0,0.5,-1.8,0.125,0.150,0.199,0.190,0.067,2016-17
9557,9557,Elfrid Payton,ORL,23.0,193.04,83.91452,Louisiana-Lafayette,USA,2014,1,...,12.8,4.7,6.5,-2.7,0.039,0.136,0.213,0.520,0.329,2016-17
9558,9558,Edy Tavares,CLE,25.0,220.98,120.20188,None,Cabo Verde,2014,2,...,4.0,5.5,0.5,15.2,0.160,0.241,0.137,0.633,0.071,2016-17
9559,9559,Willy Hernangomez,NYK,23.0,210.82,108.86208,None,Spain,2015,2,...,8.2,7.0,1.3,-2.8,0.142,0.263,0.202,0.564,0.116,2016-17
9560,9560,Wilson Chandler,DEN,30.0,203.20,102.05820,DePaul,USA,2007,1,...,15.7,6.5,2.0,-1.7,0.052,0.178,0.221,0.545,0.097,2016-17

In [5]:
player.columns

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [6]:
# Checking missing values
player.isnull().sum()

Unnamed: 0           0
player_name          0
team_abbreviation    0
age                  0
player_height        0
player_weight        0
college              0
country              0
draft_year           0
draft_round          0
draft_number         0
gp                   0
pts                  0
reb                  0
ast                  0
net_rating           0
oreb_pct             0
dreb_pct             0
usg_pct              0
ts_pct               0
ast_pct              0
season               0
dtype: int64

In [8]:
player_nba = player[['player_name','age','player_height','player_weight','pts','reb']]

In [9]:
player_nba.head()

       player_name   age  player_height  player_weight  pts  reb
0   Chris Robinson  23.0         195.58       90.71840  4.6  1.7
1        Matt Fish  27.0         210.82      106.59412  0.3  0.8
2     Matt Bullard  30.0         208.28      106.59412  4.5  1.6
3     Marty Conlon  29.0         210.82      111.13004  7.8  4.4
4  Martin Muursepp  22.0         205.74      106.59412  3.7  1.6

In [107]:
player_nba['target_player'] = player_nba.apply(lambda x: 1 if (x['age'] <=25) & 
                                               (x['player_height'] >= 180) & 
                                               (x['player_weight'] <= 90) & 
                                               (x['pts']>=6) &
                                               (x['reb']>=3) else 0, axis=1)

In [108]:
player_nba.tail()

,player_name,age,player_height,player_weight,pts,reb,target_player,prediksi1,prediksi2,prediksi3
9556,Elijah Millsap,29.0,200.66,97.52228,1.5,3.0,0,0,0,0
9557,Elfrid Payton,23.0,193.04,83.91452,12.8,4.7,1,0,0,0
9558,Edy Tavares,25.0,220.98,120.20188,4.0,5.5,0,0,0,0
9559,Willy Hernangomez,23.0,210.82,108.86208,8.2,7.0,0,0,0,0
9560,Wilson Chandler,30.0,203.20,102.05820,15.7,6.5,0,0,0,0

In [109]:
player_nba[player_nba['target_player'] == 1]

,player_name,age,player_height,player_weight,pts,reb,target_player,prediksi1,prediksi2,prediksi3
105,Kerry Kittles,23.0,195.58,81.192968,16.4,3.9,1,0,0,0
290,Allen Iverson,22.0,182.88,74.842680,23.5,4.1,1,1,1,0
432,Eddie Jones,25.0,198.12,86.182480,17.2,4.1,1,0,0,0
659,Kerry Kittles,24.0,195.58,81.192968,17.2,4.7,1,0,0,0
835,Allen Iverson,23.0,182.88,74.842680,22.0,3.7,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...
9345,Brandon Ingram,19.0,205.74,86.182480,9.4,4.0,1,0,0,0
9371,D'Angelo Russell,21.0,195.58,88.450440,15.6,3.5,1,0,0,0
9485,Jeremy Lamb,25.0,195.58,83.914520,9.7,4.3,1,0,0,0
9522,Dennis Schroder,23.0,185.42,78.017824,17.9,3.1,1,0,1,0
9557,Elfrid Payton,23.0,193.04,83.914520,12.8,4.7,1,0,0,0

### Standardization

In [15]:
from sklearn.preprocessing import StandardScaler

In [110]:
stdScaler = StandardScaler()
Std = stdScaler.fit_transform(player_nba[['age','player_height','player_weight','pts','reb']])
dfStd = pd.DataFrame(Std,columns=['age','player_height','player_weight','pts','reb'])
dfStd

           age  player_height  player_weight       pts       reb
0    -0.996742      -0.578993      -0.802604 -0.589390 -0.747850
1    -0.077272       1.063130       0.439607 -1.319614 -1.108712
2     0.612331       0.789443       0.439607 -0.606372 -0.787946
3     0.382463       1.063130       0.794524 -0.045967  0.334735
4    -1.226609       0.515755       0.439607 -0.742228 -0.787946
...        ...            ...            ...       ...       ...
9556  0.382463      -0.031619      -0.270228 -1.115831 -0.226605
9557 -0.996742      -0.852680      -1.334980  0.803131  0.455022
9558 -0.537007       2.157878       1.504359 -0.691282  0.775788
9559 -0.996742       1.063130       0.617065  0.021961  1.377224
9560  0.612331       0.242068       0.084689  1.295608  1.176746

[9561 rows x 5 columns]

### Splitting Datasets (82% Train)

In [111]:
from sklearn.model_selection import train_test_split
x = player_nba[['age','player_height','player_weight','pts','reb']]
y = player_nba['target_player']
xtr,xts,ytr,yts = train_test_split(x,y,test_size=.82,random_state=100)

In [112]:
xtr.shape

(1720, 5)

### Modelling

In [113]:
from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score, roc_curve

#### Using Random Forest Classifier

In [114]:
from sklearn.ensemble import RandomForestClassifier
modelRF = RandomForestClassifier()
print(modelRF.fit(xtr,ytr))
# modelRF.score(xts,yts)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [115]:
# Using Hyperparameter Tuning

# Creating Parameters
n_estimators = [10,100,1000]
criterion = ['gini']
max_depth = [10,20,30,40,'none']
param = {'n_estimators':n_estimators,'criterion':criterion,'max_depth':max_depth}

In [116]:
from sklearn.model_selection import GridSearchCV
modelCV =GridSearchCV(modelRF,param, cv=5)

#### Deciding the best parameters

In [117]:
modelCV.fit(xtr,ytr)
modelCV.best_params_

{'criterion': 'gini', 'max_depth': 10, 'n_estimators': 100}

#### New Model after using hyperparameter tuning

In [118]:
modelRFbaru = RandomForestClassifier(criterion='gini',max_depth=40,n_estimators=10)
modelRFbaru.fit(xtr,ytr)
modelRFbaru.score(xts,yts)

0.9950261446244102

<hr>

#### Using Decision Tree Classifier

In [119]:
from sklearn import tree
modelTree = tree.DecisionTreeClassifier()
print(modelTree.fit(xtr,ytr))
modelTree.score(xts,yts)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

0.9993623262338988

In [120]:
# Creating Parameters
splitter = ['best','random']
criterion = ['gini','entropy']
max_depth = [10,20,30,40,'none']
param = {'splitter':splitter,'criterion':criterion,'max_depth':max_depth}

In [121]:
modelCVTree =GridSearchCV(modelTree,param, cv=5)

In [122]:
# deciding the best parameters
modelCVTree.fit(xtr,ytr)
modelCVTree.best_params_

{'criterion': 'entropy', 'max_depth': 10, 'splitter': 'best'}

In [123]:
# model after hyperparameter tuning
modelTreeNew = tree.DecisionTreeClassifier(criterion='gini',max_depth=10,splitter='best')
modelTreeNew.fit(xtr,ytr)
modelTreeNew.score(xts,yts)

0.9993623262338988

<hr>

### Using Logistic Regression

In [124]:
from sklearn.linear_model import LogisticRegression
modelLR = LogisticRegression(solver='liblinear')
print(modelLR.fit(xtr,ytr))
modelLR.score(xts,yts)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

0.9818900650427241

In [125]:
# Creating Parameters
penalty = ['l1','l2','elasticnet','none']
solver = ['newton-cg','lbfgs','liblinear','sag','saga']
max_iter = [1,10,100,1000,10000]
paramLR = {'penalty':penalty,'solver':solver,'max_iter':max_iter}

In [126]:
modelCVLR =GridSearchCV(modelLR,paramLR, cv=5)

In [127]:
# deciding the best parameters
modelCVLR.fit(xtr,ytr)
modelCVLR.best_params_

{'max_iter': 100, 'penalty': 'l2', 'solver': 'newton-cg'}

In [128]:
# model after hyperparameter tuning
modelLRNew = LogisticRegression(max_iter=10,penalty='l2',solver='liblinear')
modelLRNew.fit(xtr,ytr)
modelLRNew.score(xts,yts)

0.9809973217701824

In [129]:
test = player_nba[['age','player_height','player_weight','pts','reb',]]

In [130]:
# Prediction
player_nba['prediksi1'] = modelRFbaru.predict(test) 
player_nba['prediksi2'] = modelTreeNew.predict(test)
player_nba['prediksi3'] = modelLRNew.predict(test)

In [131]:
player_nba.head()
player_nba

,player_name,age,player_height,player_weight,pts,reb,target_player,prediksi1,prediksi2,prediksi3
0,Chris Robinson,23.0,195.58,90.71840,4.6,1.7,0,0,0,0
1,Matt Fish,27.0,210.82,106.59412,0.3,0.8,0,0,0,0
2,Matt Bullard,30.0,208.28,106.59412,4.5,1.6,0,0,0,0
3,Marty Conlon,29.0,210.82,111.13004,7.8,4.4,0,0,0,0
4,Martin Muursepp,22.0,205.74,106.59412,3.7,1.6,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
9556,Elijah Millsap,29.0,200.66,97.52228,1.5,3.0,0,0,0,0
9557,Elfrid Payton,23.0,193.04,83.91452,12.8,4.7,1,1,1,0
9558,Edy Tavares,25.0,220.98,120.20188,4.0,5.5,0,0,0,0
9559,Willy Hernangomez,23.0,210.82,108.86208,8.2,7.0,0,0,0,0
9560,Wilson Chandler,30.0,203.20,102.05820,15.7,6.5,0,0,0,0

<hr>

### Evaluation Metrics

In [73]:
#  accuracy, precision, recall, F1 score & ROC AUC score

In [75]:
from sklearn.metrics import confusion_matrix

#### Balanced Accuracy

In [132]:
from sklearn.metrics import balanced_accuracy_score
bas = balanced_accuracy_score
print('accuracy_score:',bas(player_nba['target_player'],player_nba['prediksi1']))
print('accuracy_score:',bas(player_nba['target_player'],player_nba['prediksi2']))
print('accuracy_score:',bas(player_nba['target_player'],player_nba['prediksi3']))

accuracy_score: 0.9132923946872887
accuracy_score: 0.9946043125268904
accuracy_score: 0.6031111880961295

#### Recall

In [133]:
from sklearn.metrics import recall_score
rs = recall_score
print('Recall Score(+):',rs(player_nba['target_player'],player_nba['prediksi1'],pos_label=1))
print('Recall Score(+):',rs(player_nba['target_player'],player_nba['prediksi2'],pos_label=1))
print('Recall Score(+):',rs(player_nba['target_player'],player_nba['prediksi3'],pos_label=1))
print('Recall Score(-):',rs(player_nba['target_player'],player_nba['prediksi1'],pos_label=0))
print('Recall Score(-):',rs(player_nba['target_player'],player_nba['prediksi2'],pos_label=0))
print('Recall Score(-):',rs(player_nba['target_player'],player_nba['prediksi3'],pos_label=0))

Recall Score(+): 0.8272251308900523
Recall Score(+): 0.9895287958115183
Recall Score(+): 0.2094240837696335
Recall Score(-): 0.9993596584845251
Recall Score(-): 0.9996798292422625
Recall Score(-): 0.9967982924226254

#### Precision

In [134]:
from sklearn.metrics import precision_score
ps= precision_score
# Precision(+)
print('Precision(+):',ps(player_nba['target_player'],player_nba['prediksi1'],pos_label=1))
print('Precision(+):',ps(player_nba['target_player'],player_nba['prediksi2'],pos_label=1))
print('Precision(+):',ps(player_nba['target_player'],player_nba['prediksi3'],pos_label=1))
# Precision (-)
print('Precision(+):',ps(player_nba['target_player'],player_nba['prediksi1'],pos_label=0))
print('Precision(+):',ps(player_nba['target_player'],player_nba['prediksi2'],pos_label=0))
print('Precision(+):',ps(player_nba['target_player'],player_nba['prediksi3'],pos_label=0))

Precision(+): 0.9634146341463414
Precision(+): 0.984375
Precision(+): 0.5714285714285714
Precision(+): 0.9964882409279557
Precision(+): 0.999786530045896
Precision(+): 0.9840901907069856

#### F1 Score

In [135]:
from sklearn.metrics import f1_score
# F1 Score(+)
print('F1 Score(+):',f1_score(player_nba['target_player'],player_nba['prediksi1'],pos_label=1))
print('F1 Score(+):',f1_score(player_nba['target_player'],player_nba['prediksi1'],pos_label=1))
print('F1 Score(+):',f1_score(player_nba['target_player'],player_nba['prediksi1'],pos_label=1))
# F1 Score (-)
print('F1 Score(+):',f1_score(player_nba['target_player'],player_nba['prediksi1'],pos_label=0))
print('F1 Score(+):',f1_score(player_nba['target_player'],player_nba['prediksi2'],pos_label=0))
print('F1 Score(+):',f1_score(player_nba['target_player'],player_nba['prediksi3'],pos_label=0))

F1 Score(+): 0.8901408450704225
F1 Score(+): 0.8901408450704225
F1 Score(+): 0.8901408450704225
F1 Score(+): 0.9979218841583631
F1 Score(+): 0.9997331767970542
F1 Score(+): 0.990403478076454

#### ROC AUC Score

In [136]:
from sklearn.metrics import roc_auc_score
print('ROC AUC Score:',roc_auc_score(player_nba['target_player'],player_nba['prediksi1']))
print('ROC AUC Score:',roc_auc_score(player_nba['target_player'],player_nba['prediksi2']))
print('ROC AUC Score:',roc_auc_score(player_nba['target_player'],player_nba['prediksi3']))

ROC AUC Score: 0.9132923946872888
ROC AUC Score: 0.9946043125268904
ROC AUC Score: 0.6031111880961295

ROC AUC Score(+): 0.7583584152111942

<hr>

#### Prediction to new dataset

In [137]:
playerIBL = pd.read_excel('player_ibl.xlsx',skiprows=1)
playerIBL

,Name,Club,Country,Age,Height,Weight,Avg Points,Avg Rebounds
0,Andakara Prastawa Dyaksa,Pelita Jaya Bakrie,Indonesia,24,190,90,7,6
1,Reggie Mononimbar,Pelita Jaya Bakrie,Indonesia,21,185,86,6,3
2,Hardianus Lakudu,Satria Muda Pertamina Jakarta,Indonesia,23,178,83,10,3
3,Kevin Yonas Sitorus,Satria Muda Pertamina Jakarta,Indonesia,26,185,75,11,4
4,Arki Dikania Wisnu,Satria Muda Pertamina Jakarta,Indonesia,20,183,80,5,2
5,Laurentius Steven Oei,Satria Muda Pertamina Jakarta,Indonesia,21,191,85,4,10
6,Mei Joni,Stapac,Indonesia,25,188,90,7,5
7,Vincent Rivaldi Kosasih,Stapac,Indonesia,23,179,87,1,2
8,Hardian Wicaksono,Pacific Caesar Surabaya,Indonesia,21,177,80,9,8
9,Brandon Jawato,Louvre Surabaya,Indonesia,24,182,85,6,5

In [146]:
soal = playerIBL[['Age','Height','Weight','Avg Points','Avg Rebounds']]
soal['jawab']=modelRF.predict(soal)
soal

   Age  Height  Weight  Avg Points  Avg Rebounds  jawab
0   24     190      90           7             6      0
1   21     185      86           6             3      0
2   23     178      83          10             3      1
3   26     185      75          11             4      0
4   20     183      80           5             2      0
5   21     191      85           4            10      1
6   25     188      90           7             5      0
7   23     179      87           1             2      0
8   21     177      80           9             8      1
9   24     182      85           6             5      1

#### Pemain yang patut di rekrut

keterangan :
- jawab= 0 = Tidak Patut
- jawab= 1 = Patut

In [147]:
soal['jawab']= soal['jawab'].map({0:'Tidak Patut', 1:'Patut'})

In [148]:
playerIBL['Jawaban']=soal['jawab']
playerIBL[soal['jawab']=='Patut']

,Name,Club,Country,Age,Height,Weight,Avg Points,Avg Rebounds,Jawaban
2,Hardianus Lakudu,Satria Muda Pertamina Jakarta,Indonesia,23,178,83,10,3,Patut
5,Laurentius Steven Oei,Satria Muda Pertamina Jakarta,Indonesia,21,191,85,4,10,Patut
8,Hardian Wicaksono,Pacific Caesar Surabaya,Indonesia,21,177,80,9,8,Patut
9,Brandon Jawato,Louvre Surabaya,Indonesia,24,182,85,6,5,Patut

In [149]:
playerIBL[soal['jawab']=='Tidak Patut']

,Name,Club,Country,Age,Height,Weight,Avg Points,Avg Rebounds,Jawaban
0,Andakara Prastawa Dyaksa,Pelita Jaya Bakrie,Indonesia,24,190,90,7,6,Tidak Patut
1,Reggie Mononimbar,Pelita Jaya Bakrie,Indonesia,21,185,86,6,3,Tidak Patut
3,Kevin Yonas Sitorus,Satria Muda Pertamina Jakarta,Indonesia,26,185,75,11,4,Tidak Patut
4,Arki Dikania Wisnu,Satria Muda Pertamina Jakarta,Indonesia,20,183,80,5,2,Tidak Patut
6,Mei Joni,Stapac,Indonesia,25,188,90,7,5,Tidak Patut
7,Vincent Rivaldi Kosasih,Stapac,Indonesia,23,179,87,1,2,Tidak Patut